@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --blue: #003566;
    --yellow: #ffd60a;
    --light-blue: #005C97;
    --light:#fff;
    --bg-color: #f8f9fa;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    

}

h1,h2,h3,h4,h5{
    font-family: "Fira Sans", sans-serif;
    
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.hr{
   border-top: 1px solid var(--yellow);
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.name{
    border-radius: 5px;
    font-size: 20px;
    color: var(--yellow);
    padding: 10px 10px 10px 10px;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
nav{
    position: fixed;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 8vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
}

nav img{
    width: 200px;
    cursor: pointer;
}

nav .nagivation{
    display: flex;

}

#menu-btn{
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close{
    display: none;
}

nav .nagivation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .nagivation ul li{
    margin-left: 30px;
}

nav .nagivation ul li a{
    color: rgb(21,21,100);
    font-size: 18px;
    font-weight: 400;
    transition: 0.3s ease;
}

.nagivation ul li a:hover{
    color: var(--yellow);
}

#home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),
    url("../images/uwibanner.jpeg");
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 150px;

}

#home h1{
    font-size: 3.5rem;
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px #000814;

}

.about-us h1{
    font-size: 3.5rem;
    color: var(--blue);
    letter-spacing: 1px;
}

.about-us{
    padding: 10vw 8vw 2vw 8vw;   
}

.about-us-info{
    padding: 1vw 8vw 5vw 8vw;   
}

#home .title-body{
    width: 80%;
    color: white;
    font-size: 1.2rem;
    margin-bottom: 40px;

}

.btn-blue{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: #ffd60a !important;
    padding: 13px 35px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s ease;
    border: none;
    outline: none;
  
}

.btn{
    background: var(--blue);
    color: white;
    padding: 15px 35px;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 5px;
}

.btn:hover{
    background: var(--yellow);
    color: var(--blue);
}
.btn-yellow{
    background-color: #ffd60a;
    color:  #003566!important;
    padding: 13px 35px;
    /* border-radius: 5px; */
    font-size: 0.9rem;
    font-weight: 500;
    transition: 0.3s ease;
  
}

.btn-blue:hover {
    background-color: #ffd60a;
    color: white !important;
}

.section{
    padding: 5vw 8vw 5vw 8vw;
    text-align: center;
}

.page-title{
    padding-top:50px;
    font-size: 40px;
}
#message{
    padding: 5vw 8vw 5vw 8vw;
    text-align: center;
}

#message h1{
    font-size: 3.5rem;
    color: #003566;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

#message p{
    font-size: 1.2rem;
    color: #003566;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#message .services{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    gap: 20px;
}

.service-box{
    background: #e9ecef;
    text-align: start;
    padding: 20px 20px 30px 20px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ced4da;
    

}

.service-box i{
    font-size: 2rem;
    color: #355070;
    
}

.service-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: #355070;
    padding: 13px 0 7px 0;
}

.service-box p{
    font-size: 1rem;
    font-weight: 400;
    color: #6c757d;
  padding-bottom: 10px;
}

.president{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.president-message{
    padding: 50px 40px 0 80px;
    text-align: center;
    background: #f8f9fa;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    

}

.president-message .content{
    width: 1100px;
    padding-bottom: 30px;
}

.president-message h1{
    font-size: 3.5rem;
    color: #003566;
    letter-spacing: 1px;
    margin-bottom: 5px;

}

.president-message img{
    z-index: -1;
    border-radius: 50%;
    width: 300px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
   
}

.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.message{
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.message p{
    font-size: 20px;
    color: #355070;
    text-align: justify;
}

.cta-btn{
    display: flex;
    padding-top: 20px;
}

footer li{
    list-style-type: none;
}


footer{
    padding: 4vw;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);
    background: linear-gradient(to right, #363795, #005C97); 
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   
}

footer .footer-col{
    color: #f8f9fa;
    padding-bottom: 40px;
}

footer .footer-col h3{
    color: #e9ecef;
    padding-bottom: 20px;
    font-size: 20px;
}

footer .footer-col li{
    padding: 6px 0;
    font-size: 16px;
    cursor: pointer;
    color: #ced4da;
    transition: 0.3s ease;
}

.footer-col li:hover{
    color: #ffd60a;
}

.footer-col .subscribe{
    display: flex;

}

.footer-col .subscribe input{
   width: 220px;
   padding: 15px 12px;
   outline: none;
   border: none;
   color: #000814;
   font-size: 16px;
   font-weight: 500;
}

.footer-col .tel{
    color: #e9ecef;

}

.footer-col .tel:hover{
    color: #ffd60a;
}

.footer-col .cta-email{
    color: #e9ecef;
}

.footer-col .cta-email:hover{
    color: #ffd60a;
}

.copyright{
    color: white;
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
}

/*Card Style*/

.bg{
    background-color: var(--bg-color);
}

.card-container{
    width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;

}

.card{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    /* margin-bottom: 10px; */
    padding:10px;
  
}


.card-image img{
    width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    
}

.card p {
    font-weight: 300;
}

/*Contact Section CSS*/
.contact-container{
    width: 1100px;
    margin: 0 auto;
}

.contac-us{
    padding: 10vw 8vw 2vw 8vw;   
}
.contact-section{
    padding: 6rem 0;
    background-color: var(--bg-color);
    }

    .contact-box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        background: linear-gradient(to right, #363795, #005C97);
        border-radius: 10px;
    }
    
    .form-box{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
      /* width: 400px; */
    
    }
    
    .form-box form{
      padding: 0;
    }
    
    .form-box .title{
        color: #fff;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    
    
    .form-box .form-input-group input{
      width: 100%;
      border: none;
      outline: none;
      /* border-radius: 5px; */
      padding: 0.75rem 1rem;
      margin: 5px 0px;
      background-color: #fff;
      color: var(--blue);
    }
    
    .form-input-group label{
      color: #fff;
      font-weight: 200;
    }
    
    .form-box .form-input-group textarea{
       width: 100%;
      border: none;
      outline: none;
      /* border-radius: 5px; */
      padding: 0.75rem 1rem;
      margin: 5px 0px;
      resize: none;
      background-color: #fff;
      color: var(--blue);
    }
    
    .send-message-button{
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .contact-box-info{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 10px;
    }

    .contact-box-info div{
       padding-bottom: 40px;
       display: flex;
       flex-direction: column;
       row-gap: 10px;
    }

    
    
    .contact-box-info .title{
        color: var(--light);
        font-weight: 400;
        margin-bottom: 0;
    }
    
    .contact-box-info .contact__info{
      font-weight: 200;
      color: var(--light);
      margin-top: 0;
    }
    
    .contact__info span{
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: underline;
    }
    
    .register{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }


/*President Message Page CSS*/

.pres-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pres-image img{
    width: 300px;
    border-radius: 50%;
    border: 1px solid var(--blue);
}

.intro-box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 40px;
}

.ending{
    margin-top: 10px;
}
.message-box p{
    text-indent: 5%;
    font-size: 18px;
}

/*Services Section*/

.services{
    height: 50vh;
}

/*Media Queries*/

@media (max-width: 768px) {
    nav{
       padding: 15px 20px;
    }

    nav img{
        width: 100px;
    }

    #menu-btn{
        display: block;
    }

    #menu-close{
        display: block;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
        
    }

nav .nagivation ul{
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    background: white;
    height: 100vh;
    background: rgba(0, 53, 102, 0.4);
    backdrop-filter: blur(4.5px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

nav .nagivation ul.active{
   right:0px;
}

nav .nagivation ul li a{
    color: white;
}

nav .nagivation ul li{
   padding: 20px 0 20px 40px;
   margin-left: 0;
}


nav .nagivation li a:hover{
    color: var(--yellow);
 }

}

@media (max-width: 450px) {

    nav{
        position: fixed;
        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        margin: 0;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    }
    #home h1{
        font-size: 25px;
    }

    #home p{
        width: 100%;
        color: white;
        font-size: 1rem;
        /* line-height: 25px; */
        /* margin-bottom: 40px; */
    
    }

    #home{
        background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),
        url("../images/uwibanner.jpeg");
        width: 100%;
        height: 70vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-top: 150px;
    
    }

    .president-message{
        padding: 30px;
    }

    .message{
        margin-top: 20px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
  
    
    .president-message h1{
        font-size: 30px;
        color: #003566;
        letter-spacing: 1px;
        margin-bottom: 5px;
    
    }
    
    .president-message img{
        border-radius: 50%;
        width: 150px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
       
    }
    
    .president-message .content{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .content .message
    {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .cta-btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #message h1{
        font-size: 30px;
    }

    
    .footer-col .subscribe input{
       width: 100%;
        padding: 15px 12px;
        outline: none;
        border: none;
        color: white;
     }

     nav img{
        width: 75px;
    }

    .service-box{
        padding: 15px 10px 30px 10px;
    }

    #message .services{
       display: flex;
       flex-direction: column;
    }

    footer .footer-col .btn-yellow{
        width: 50%;
       

    }

    .name{
        border-radius: 5px;
        font-size: 18px;
        color: var(--yellow);
        padding: 8px;
        background: #005C97;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    }
}







